@import "./variables.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  width: 1170px;
  margin: 0 auto;
} */

.wrapper {
  height: 1100px;
}

.header-wrapper {
  /* background-color: ; */
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 1170px;
  margin: 0 auto;
  padding: 15px 0 0 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  min-width: 600px;
}

.nav-item {
  margin-right: 35px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: 700;
  color: var(--menu-item-color);
}

.nav-item:hover::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 25px;
  border-bottom: 3px solid var(--menu-item-color-hover);
}

.nav-item:hover .nav-link {
  color: var(--menu-item-color-hover);
}

.header-title-wrapper {
  /* width: 1170px; */
  max-width: 1170px;
  margin: 0 auto;
  position: absolute;
  bottom: 400px;
  left: 300px;
}

.main-title,
.main-description {
  color: white;
  font-family: "Ubuntu";
}

.main-title {
  text-transform: uppercase;
  max-width: 90%;
  font-weight: 700;
}

.main-description {
  max-width: 60%;
  font-weight: 400;
}

.why-us {
  min-height: 400px;
  width: 100%;
  position: relative;
  background: var(--menu-item-color-hover);
}

.why-us::before {
  background-color: var(--menu-item-color-hover);
  top: -50%;
  content: "";
  display: block;
  height: 100%;
  right: 0;
  position: absolute;
  left: 0;
  transform: skewY(-2deg);
  transform-origin: 100%;
  z-index: -1;
}

.why-us::after {
  background-color: var(--menu-item-color-hover);
  bottom: -30%;
  content: "";
  display: block;
  height: 30%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2deg);
  transform-origin: 100%;
  z-index: -1;
}

.why-us-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.why-us-title,
.service-title,
.scope-of-work-title,
.how-we-work-title,
.comments-title {
  font-family: "Pacifico";
  text-transform: uppercase;
  font-size: 48px;
  color: var(--menu-item-color);
  text-align: center;
  padding: 100px 0 55px 0;
  word-spacing: 20px;
}

.why-us-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.why-us-item {
  position: relative;
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  margin-bottom: 35px;
  padding-left: 100px;
}

.why-us-number {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: "Pacifico";
  color: white;
  font-size: 50px;
}

.why-us-item-title,
.how-we-work-step-name,
.why-us-description,
.service-description,
.service-name,
.scope-of-work-name,
.scope-of-work-description,
.how-we-work-step-description {
  font-family: "Ubuntu";
  color: white;
}

.why-us-item-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
}

.why-us-description {
  font-weight: 400;
  font-size: 16px;
}

.service-wrapper {
  background-image: url("../images/service-background-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1260px;
  margin: 0 auto;
}

.service-list {
  width: 100%;
  padding-top: 100px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.service-item {
  min-width: 200px;
  max-width: 300px;
  padding-top: 180px;
  position: relative;
}

.srvice-icon {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.service-name {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  min-height: 50px;
  margin-bottom: 35px;
}

.service-description {
  font-size: 18px;
  margin-bottom: 35px;
  min-height: 150px;
}

.service-read-more-link,
.scope-of-work-more-link {
  text-decoration: none;
  display: block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  color: var(--menu-item-color-hover);
  border: 3px solid var(--menu-item-color-hover);
  font-family: "Ubuntu";
  text-transform: uppercase;
}

.service-read-more-link:hover {
  color: white;
  border-color: white;
}

.section-scope-of-work {
  position: relative;
}

.scope-of-work-wrapper {
  background-color: #37353b;
  z-index: 2;
}

.section-scope-of-work::before {
  background-color: #37353b;
  top: -10%;
  content: "";
  display: block;
  height: 10%;
  right: 0;
  position: absolute;
  left: 0;
  transform: skewY(-2deg);
  transform-origin: 100%;
  z-index: -1;
}

.section-scope-of-work::after {
  background-color: #37353b;
  bottom: -10%;
  content: "";
  display: block;
  height: 10%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2deg);
  transform-origin: 100%;
  z-index: -1;
}

.scope-of-work-list {
  list-style: none;
  max-width: 1200px;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scope-of-work-item {
  min-width: 300px;
  max-width: 370px;
  margin-bottom: 35px;
}

.scope-of-work-img,
.scope-of-work-name,
.scope-of-work-description,
.how-we-work-step-name,
.how-we-work-step-description {
  margin-bottom: 15px;
}

.scope-of-work-description {
  min-height: 100px;
}

.scope-of-work-more-link {
  border-color: white;
  color: white;
}

.scope-of-work-more-link:hover {
  border-color: var(--menu-item-color-hover);
  color: var(--menu-item-color-hover);
}

.section-how-we-work {
  background-image: url("../images/how-we-work.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 1400px;
  margin: 0 auto;
  z-index: -2;
  position: relative;
}

.how-we-work-wrapper {
  padding-top: 120px;
  /* width: 100%; */
}

.how-we-work-list {
  list-style: none;
  max-width: 1200px;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.how-we-work-item {
  padding-top: 50px;
  min-width: 350px;
  max-width: 370px;
  position: relative;
  margin-bottom: 25px;
}

.how-we-work-counter-wrapper {
  position: absolute;
  display: flex;
  top: 0;
}

.step {
  font-size: 40px;
  color: white;
  font-family: "Ubuntu";
}

.step-of {
  font-size: 20px;
  padding-top: 4px;
  color: var(--menu-item-color-hover);
  font-family: "Ubuntu";
}

.how-we-work-step-name {
  min-height: 45px;
}

.section-comments {
  position: relative;
  background-color: var(--menu-item-color-hover);
  min-height: 400px;
}

.section-comments::before {
  background-color: var(--menu-item-color-hover);
  top: -30%;
  content: "";
  display: block;
  height: 30%;
  right: 0;
  position: absolute;
  left: 0;
  transform: skewY(-2deg);
  transform-origin: 100%;
  z-index: -1;
}

.section-comments::after {
  background-color: var(--menu-item-color-hover);
  bottom: -30%;
  content: "";
  display: block;
  height: 30%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2deg);
  transform-origin: 100%;
  z-index: -1;
}

.slide-wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-title {
  padding-top: 0;
}

.slide-previous-btn,
.slide-next-btn {
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slide-previous-btn {
  background-image: url("../images/icons/left-arrow.svg");
}

.slide-next-btn {
  background-image: url("../images/icons/right-arrow.svg");
}

.comments-list {
  list-style: none;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
}

.comments-item {
  min-height: 470px;
  min-width: 300px;
  max-width: 315px;
  margin: 0 15px 0 15px;
  background-color: #37353b;
  padding-top: 200px;
  position: relative;
}

.comments-person-avatar {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
